.uy1{
    color: hotpink;
    background-color: indigo;
    width: 400px;
    font-size: 30px;
}
.narhi{
    color: beige;background-color: darkviolet;
    width: 350px;
    font-size: 40px;
}
.haqida{
    color: red;background-color: forestgreen;
    font-size: 50px;
    width: 200px;
}
.uy2{
    color: blue;background-color: greenyellow;
    font-size: 200px;
    width: 40px;
}
.uyhaqida{
    color: aqua;background-color: coral;
    font-size: 50px;
    width: 500px;
}
.harxzori{
    color: darkkhaki;
    background-color:rebeccapurple;
    font-size: 50px;
    width: 100px;
}
.arenda{
    color: darkblue;
    background-color: brown;
    width: 250px;
    font-size: 60px;
}
.uy3{
    color: sandybrown;
    background-color:darkolivegreen;
    font-size: 80px;
    width: 500px;
}
.zor{
    color: aqua;
    background-color:lightskyblue;
    font:size 70px;
    width: 400px;
}
.narh{
    color:darkorange;
    background-color:gold;
    font-size: 90px;
    width: 350px;
}
.sayt{
    color: darkkhaki;
    background-color:magenta;
    font-size: 20px;
    width: 100px;
}
.uy34{
color: hotpink;
    background-color:red;
    font-size: 80px;
    width: 400px;
}
.p12{
    color: goldenrod;
    background-color:wheat;
    font-size: 23px;
    width: 567px;
}
.w23{
    color: darkkhaki;
    background-color:red;
    font-size: 50px;
    width: 100px;
}
.i34{
    color: darkkhaki;
    background-color:rebeccapurple;
    font-size: 76px;
    width: 345px;
}
.j2{
color: firebrick;
    background-color:goldenrod;
    font-size: 54px;
    width: 344px;
}
.r4{
    color:red ;
    background-color:fuchsia;
    font-size: 35px;
    width: 350px;
}
.e34{
    color: hotpink;
    background-color: royalblue;
    font-size: 23px;
    width: 100px;
}
.t12{
    color: darkkhaki;
    background-color:rebeccapurple;
    font-size: 45px;
    width: 300px;
}
.y45{
color: darkkhaki;
    background-color:rebeccapurple;
    font-size: 50px;
    width: 100px;    
}
.u45{
    color: tan;
    background-color:yellow;
    font-size: 67px;
    width: 455px;
}
.t67{
    color: khaki;
    background-color:green;
    font-size: 35px;
    width: 556px;
}
t8{
    color: red;
    background-color:blue;
    font-size: 90px;
    width: 250px;
}
.ar23{
    color: darkkhaki;
    background-color:rebeccapurple;
    font-size: 23px;
    width: 500px;
}
.u7{
color: darksalmon;
    background-color:firebrick;
    font-size: 45px;
    width: 345px;
}
.w1{
    color: firebrick;
    background-color:darksalmon;
    font-size: 69px;
    width: 400px;
}
.r34{
    color: green;
    background-color:yellowgreen;
    font-size: 567px;
    width: 234px;
}



